$contact-bg-color: #e8eaf6;
$submit-btn-bg-color: #73a7fc;
$submit-btn-bg-color-hover: #9ec2fd;
$btn-shadow-color: #b1b1b1;
$input-border-color: #e2e2e2;
$contact-icon-color: #616161;
$contact-main-color: #040404;
$contact-second-color: #7c7d83;